## Membuat DataFrame

    Berikut langkah-langkah menbuat DataFrame di python menggunakan modul pandas.

In [4]:
#memasukan modul yang digunakan

import pandas as pd
import numpy as np

In [5]:
#membuat array
array = np.array([[1,2,3], [4,5,6]])
array

array([[1, 2, 3],
       [4, 5, 6]])

In [6]:
#membuat dataFrame
nama_baris = ['a','b']
nama_kolom = ['one', 'two', 'three']

dataFrame = pd.DataFrame(array, index = nama_baris, columns = nama_kolom)
dataFrame

   one  two  three
a    1    2      3
b    4    5      6

                        ##Semoga Bermanfaat
                        ##@Raspiani