## Pandas - Head and tail function in Python (Get First N Rows & Last N Rows)

Dalam tutorial ini kita akan mempelajari bagaimana mendapatkan atau mengambil beberapa baris data pertama dan data terakhir dari suatu dataframe menggunakan fungsi head() dan tail().

Fungsi head() mengembalikan n baris pertama dan 
Fungsi tail() mengembalikan n baris terakhir.

Dalam tutorial fungsi head() dan tail() ini menggunakan dataset HistoricalQuotes

In [2]:
#memasukan modul yang digunakan
import pandas as pd

In [3]:
#memasukan data 
data = pd.read_csv("C:/WinPython_64bit/notebooks/8. BELAJAR DATA SCIENCE/HistoricalQuotes.csv")

In [4]:
#menggunakan fungsi head() untuk melihat lima data pertama 
data.head()

         date   close         volume    open     high      low
0       16:00  182.78     29,747,936  184.66  185.710  182.550
1  2019/05/22  182.78  29748560.0000  184.66  185.710  182.550
2  2019/05/21  186.60  28364850.0000  185.22  188.000  184.700
3  2019/05/20  183.09  38612290.0000  189.00  184.349  180.284
4  2019/05/17  189.00  32879090.0000  190.08  190.900  186.760

In [5]:
#menggunakan fungsi tail() untuk melihat lima data terakhir
data.tail()

          date   close         volume    open    high       low
59  2019/02/28  173.15  27953810.0000  174.32  174.91  172.9200
60  2019/02/27  174.87  27817640.0000  173.21  175.00  172.7300
61  2019/02/26  174.33  16991610.0000  173.71  175.30  173.1732
62  2019/02/25  174.23  21846400.0000  174.16  175.87  173.9500
63  2019/02/22  172.97  18890250.0000  171.58  173.00  171.3800

                        ##Semoga Bermanfaat 
                        ##@Raspiani_