<h2 id="Pandas---How-to-join-(merge)-data-frames-(inner,-outer,-right,-left-join)">Pandas - How to join (merge) data frames (inner, outer, right, left join)</h2>

<p>Kita dapat menggabungkan dua dataframe menggunakan fungsi merge().</p>

<p>The different arguments to merge() allow you to perform natural join, left join, right join, and full outer join.</p>

<pre>
<code>left &minus; Dataframe1.

right &ndash; Dataframe2.

on &minus; Columns (names) to join on. Must be found in both the left and right DataFrame objects.

how &ndash; type of join needs to be performed &ndash; &lsquo;left&rsquo;, &lsquo;right&rsquo;, &lsquo;outer&rsquo;, &lsquo;inner&rsquo;, Default is inner join
</code></pre>

<p>The data frames must have same column names on which the merging happens. Merge() Function in pandas is similar to database join operation in SQL.</p>

<h4 id="UNDERSTANDING-THE-DIFFERENT-TYPES-OF-MERGE:">UNDERSTANDING THE DIFFERENT TYPES OF MERGE:</h4>

<pre>
<code>Natural join: To keep only rows that match from the data frames, specify the argument how=&lsquo;inner&rsquo;.

Full outer join: To keep all rows from both data frames, specify how=&lsquo;outer&rsquo;.

Left outer join: To include all the rows of your data frame x and only those from y that match, specify how=&lsquo;left&rsquo;.

Right outer join: To include all the rows of your data frame y and only those from x that match, specify how=&lsquo;right&rsquo;.
</code></pre>

<p><img alt="" src="8. BELAJAR DATA SCIENCE/Joint.jpg" /></p>

In [6]:
#memasukan modul yang digunakan 
import pandas as pd
import numpy as np

In [7]:
# data frame 1
d1 = {'Customer_id':pd.Series([1,2,3,4,5,6]),
      'Product':pd.Series(['Oven','Oven','Oven','Television','Television','Television'])}
df1 = pd.DataFrame(d1)
df1

   Customer_id     Product
0            1        Oven
1            2        Oven
2            3        Oven
3            4  Television
4            5  Television
5            6  Television

In [8]:
#data frame 2
d2 = {'Customer_id':pd.Series([2,4,6]),
      'State':pd.Series(['California','California','Texas'])}
df2 = pd.DataFrame(d2)
df2

   Customer_id       State
0            2  California
1            4  California
2            6       Texas

#### Inner join pandas: Return only the rows in which the left table have matching keys in the right table

In [14]:
#inner join in python pandas
inner_join = pd.merge(df1, df2, on='Customer_id', how='inner')
inner_join

   Customer_id     Product       State
0            2        Oven  California
1            4  Television  California
2            6  Television       Texas

#### Outer join pandas: Returns all rows from both tables, join records from the left which have matching keys in the right table.

In [15]:
# outer join in python pandas
outer_join = pd.merge(df1, df2, on='Customer_id', how='outer')
outer_join

   Customer_id     Product       State
0            1        Oven         NaN
1            2        Oven  California
2            3        Oven         NaN
3            4  Television  California
4            5  Television         NaN
5            6  Television       Texas

#### Left outer join pandas: Return all rows from the left table, and any rows with matching keys from the right table.

In [16]:
# left join in python
left_outer_join = pd.merge(df1, df2, on='Customer_id', how='left')
left_outer_join

   Customer_id     Product       State
0            1        Oven         NaN
1            2        Oven  California
2            3        Oven         NaN
3            4  Television  California
4            5  Television         NaN
5            6  Television       Texas

#### Right outer join pandas: Return all rows from the right table, and any rows with matching keys from the left table.

In [17]:
# right join in python pandas
right_outer_join = pd.merge(df1, df2, on='Customer_id', how='right')
right_outer_join

   Customer_id     Product       State
0            2        Oven  California
1            4  Television  California
2            6  Television       Texas

                ##Semoga Bermanfaat
                ##@Raspiani_