## Pandas - Format integer column of Dataframe in Python

Dalam tutorial ini kita akan mempelajari bagaimana format kolom integer atau numerik dari dataframe di python dengan menggunakan pandas berdasarkan contoh berikut. 

Yang akan kita pelajari adalah:
1. Membulatkan kolom nilai dari dataframe dengan dua angka desimal (dua angka dibelakang koma)
2. Memformat kolom nilai dari dataframe dengan koma
3. Memformat kolom nilai dari dataframe dengan dolar
4. Memformat kolom nilai dari dataframe dengan notasi ilmiah

In [1]:
#memasukan modul yang digunakan
import pandas as pd
import numpy as np

In [2]:
#membuat data dan menampilkannya
df = {'Quarters' : ['Quarter1', 'Quarter2', 'Quarter3', 'Quarter4'],
      'Revenue' : [23400344.567,54363744.678,56789117.456,4132454.987]}

data = pd.DataFrame(df)
data

   Quarters       Revenue
0  Quarter1  2.340034e+07
1  Quarter2  5.436374e+07
2  Quarter3  5.678912e+07
3  Quarter4  4.132455e+06

#### 1. Membulatkan kolom nilai dari dataframe dengan dua angka desimal (dua angka dibelakang koma)

In [3]:
pd.options.display.float_format = '{:.2f}'.format
print(data)

   Quarters     Revenue
0  Quarter1 23400344.57
1  Quarter2 54363744.68
2  Quarter3 56789117.46
3  Quarter4  4132454.99

#### 2. Memformat kolom nilai dari dataframe dengan koma

In [5]:
pd.options.display.float_format = '{:,.2f}'.format
print(data)

   Quarters       Revenue
0  Quarter1 23,400,344.57
1  Quarter2 54,363,744.68
2  Quarter3 56,789,117.46
3  Quarter4  4,132,454.99

#### 3. Memformat kolom nilai dari dataframe dengan dolar

In [6]:
pd.options.display.float_format = '${:,.2f}'.format
print(data)

   Quarters        Revenue
0  Quarter1 $23,400,344.57
1  Quarter2 $54,363,744.68
2  Quarter3 $56,789,117.46
3  Quarter4  $4,132,454.99

#### 4. Memformat kolom nilai dari dataframe dengan notasi ilmiah

In [7]:
pd.options.display.float_format = '{:.2E}'.format
print(data)

   Quarters  Revenue
0  Quarter1 2.34E+07
1  Quarter2 5.44E+07
2  Quarter3 5.68E+07
3  Quarter4 4.13E+06

                    ##Semoga Bermanfaat
                    ##@Raspiani_