## Pandas - Penjumlahan dan Invers (Reverse)

Berikut ini cara mencari penjumlahan dan invers dari suatu elemen dataFrame menggunakan pandas. 

Sumber : https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rdiv.html

In [1]:
#memasukan modul yang digunakan
import pandas as pd

In [2]:
#membuat contoh dataFrame
df=pd.DataFrame({'angles':[0,3,4], 
                 'degrees':[360,180,360]}, 
                index=['circle', 'triangle', 'rectangle'])
df

           angles  degrees
circle          0      360
triangle        3      180
rectangle       4      360

In [3]:
#menjumlahkan skalar ke dalam dataFrame
df + 1

           angles  degrees
circle          1      361
triangle        4      181
rectangle       5      361

In [4]:
#menjumlahkan skalar ke dalam dataFrame
df.add(1)

           angles  degrees
circle          1      361
triangle        4      181
rectangle       5      361

In [5]:
#mengurangkan skalar ke dalam dataFrame
df - 1

           angles  degrees
circle         -1      359
triangle        2      179
rectangle       3      359

In [6]:
#mengurangkan skalar ke dalam dataFrame
df.subtract(1)

           angles  degrees
circle         -1      359
triangle        2      179
rectangle       3      359

In [7]:
#membagi setiap nilai dalam dataFrame dengan skalar=10
df.div(10)

           angles  degrees
circle        0.0     36.0
triangle      0.3     18.0
rectangle     0.4     36.0

In [8]:
#membagi setiap nilai dalam dataFrame dengan skalar=10
df.divide(10)

           angles  degrees
circle        0.0     36.0
triangle      0.3     18.0
rectangle     0.4     36.0

In [9]:
#mencari nilai invers dari df yang sudah dibagi 10
#contoh nilai degrees=36 maka inversnya adalah 1/36
df.rdiv(10)

             angles   degrees
circle          inf  0.027778
triangle   3.333333  0.055556
rectangle  2.500000  0.027778

In [10]:
#mengurangkan sebuah list dan series dengan axis menggunakan versi operator -
#nilai setiap baris kolom pertama dikurangi 1
#nilai setiap baris kolom kedua dikurangi 2
df - [1,2]

           angles  degrees
circle         -1      358
triangle        2      178
rectangle       3      358

In [11]:
#cara II
#mengurangkan sebuah list dan series dengan axis menggunakan versi substract
#nilai setiap baris kolom pertama dikurangi 1
#nilai setiap baris kolom kedua dikurangi 2
df.sub([1,2], axis='columns')

           angles  degrees
circle         -1      358
triangle        2      178
rectangle       3      358

In [12]:
#mengurangkan df dengan series [1, 1, 1] untuk setiap barisnya
df.sub(pd.Series([1, 1, 1], index=['circle', 'triangle', 'rectangle']), axis='index')

           angles  degrees
circle         -1      359
triangle        2      179
rectangle       3      359

In [14]:
#membuat dataFrame dengan nama kolom angles yang berisi 0,3,4 dengan nama barisnya index=['circle', 'triangle', 'rectangle']
other = pd.DataFrame({'angles': [0, 3, 4]}, index=['circle', 'triangle', 'rectangle'])
other

           angles
circle          0
triangle        3
rectangle       4

In [15]:
#perkalian dataframe df dengan dataframe other dimana salah satu nama kolomnya sama yaitu angles * angles
df * other

           angles  degrees
circle          0      NaN
triangle        9      NaN
rectangle      16      NaN

In [16]:
#perkalian dataframe df dengan dataframe other dimana salah satu nama kolomnya sama yaitu angles * angles
#karena kolom degrees tidak dikalikan secara multiply dengan angles maka hasilnya 0.0
df.mul(other, fill_value=0)

           angles  degrees
circle          0      0.0
triangle        9      0.0
rectangle      16      0.0

In [19]:
#membuat dataframe multiindex
df_multindex = pd.DataFrame({'angles': [0, 3, 4, 4, 5, 6], 'degrees': [360, 180, 360, 360, 540, 720]},
                            index=[['A', 'A', 'A', 'B', 'B', 'B'], ['circle', 'triangle', 'rectangle', 'square', 'pentagon', 'hexagon']])


df_multindex

             angles  degrees
A circle          0      360
  triangle        3      180
  rectangle       4      360
B square          4      360
  pentagon        5      540
  hexagon         6      720

In [20]:
#pembagian dataframe df dengan dataframe multiindex 
#hasilnya nilai pada index dan kolom yang sama dari df dengan df_multiindex akan dilakukan pembagian 
df.div(df_multindex, level=1, fill_value=0)

             angles  degrees
A circle        NaN      1.0
  triangle      1.0      1.0
  rectangle     1.0      1.0
B square        0.0      0.0
  pentagon      0.0      0.0
  hexagon       0.0      0.0

                                ##Semoga Bermanfaat 
                                ##@Raspiani_