## Pandas - loc

In [57]:
#memasukan modul yang digunakan 
import pandas as pd

In [58]:
#membuat dataFrame
df = pd.DataFrame([[1,2],[4,5],[7,8]], index = ['cobra', 'viper', 'sidewinder'], columns = ['max_speed', 'shield'])
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [59]:
#mengakses baris viper
df.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

In [60]:
#mengakses baris viper dan sidewinder
df.loc[['viper', 'sidewinder']]

            max_speed  shield
viper               4       5
sidewinder          7       8

In [61]:
#mengakses nilai cobra sampai viper dari kolom max_speed
df.loc['cobra':'viper', 'max_speed']

cobra    1
viper    4
Name: max_speed, dtype: int64

In [62]:
#mengakses baris terakhir dari semua kolom, dengan nilai nya masing-masing
df.loc[[False, False, True]]

            max_speed  shield
sidewinder          7       8

In [63]:
#mengakses dua baris terakhir dari semua kolom, dengan nilai nya masing-masing
df.loc[[False, True, True]]

            max_speed  shield
viper               4       5
sidewinder          7       8

In [64]:
#mengakses baris pada salah satu kolom (df['shield']) dimana nilainya lebih dari 6 pada semua kolom
df.loc[df['shield'] > 6]

            max_speed  shield
sidewinder          7       8

In [65]:
#mengakses baris pada salah satu kolom (df['shield']) dimana nilainya lebih dari 6 hanya pada kolom max_speed
df.loc[df['shield'] > 6, ['max_speed']]

            max_speed
sidewinder          7

In [66]:
#mengakses baris pada semua kolom dimana salah satu kolomnya (df['shield']) sama dengan 8
df.loc[lambda df: df['shield'] == 8]

            max_speed  shield
sidewinder          7       8

In [67]:
#mengganti nilai viper dan sidewinder pada kolom shield dengan nilai 50
df.loc[['viper', 'sidewinder'], ['shield']] = 50
df

            max_speed  shield
cobra               1       2
viper               4      50
sidewinder          7      50

In [68]:
#mengganti nilai baris cobra dengan nilai 10 pada semua kolomnya 
df.loc['cobra'] = 10
df

            max_speed  shield
cobra              10      10
viper               4      50
sidewinder          7      50

In [69]:
#mengganti nilai semua baris dengan nilai 30 pada kolom max_speed
df.loc[:, 'max_speed'] = 30
df

            max_speed  shield
cobra              30      10
viper              30      50
sidewinder         30      50

In [70]:
#mengganti nilai semua baris yang > 35 dengan nilai 0 pada semua kolom
df.loc[df['shield'] > 35] = 0
df

            max_speed  shield
cobra              30      10
viper               0       0
sidewinder          0       0

In [71]:
#membuat dataFrame dengan index custom
df = pd.DataFrame([[1,2],[4,5],[7,8]], index = [7,8,9], columns = ['max_speed', 'shield'])
df

   max_speed  shield
7          1       2
8          4       5
9          7       8

In [72]:
#mengakses baris 7 sampai 9
df.loc[7:9]

   max_speed  shield
7          1       2
8          4       5
9          7       8

In [73]:
#membuat dataFrame dengan MultiIndex
tuples = [('cobra', 'mark i'), 
          ('cobra', 'mark ii'), 
          ('sidewinder', 'mark i'), 
          ('sidewinder', 'mark ii'),
          ('viper', 'mark ii'), 
          ('viper', 'mark iii')]

index = pd.MultiIndex.from_tuples(tuples)
values = [[12,2],[0,4],[10,20],[1,4],[7,1],[16,36]]

df = pd.DataFrame(values, columns = ['max_speed', 'shield'], index = index)
df

                     max_speed  shield
cobra      mark i           12       2
           mark ii           0       4
sidewinder mark i           10      20
           mark ii           1       4
viper      mark ii           7       1
           mark iii         16      36

In [74]:
#mengakses nilai dari baris cobra bagian mark ii untuk semua kolom
df.loc[('cobra', 'mark ii')]

max_speed    0
shield       4
Name: (cobra, mark ii), dtype: int64

In [75]:
#mengakses nilai dari baris cobra bagian mark i untuk semua kolom
df.loc['cobra', 'mark i']

max_speed    12
shield        2
Name: (cobra, mark i), dtype: int64

In [76]:
#mengakses baris cobra bagian mark ii untuk semua kolom dengan tampilan frame
df.loc[[('cobra', 'mark ii')]]

               max_speed  shield
cobra mark ii          0       4

In [77]:
#mengakses nilai baris cobra bagian mark i pada kolom shield
df.loc[('cobra', 'mark i'), 'shield']

2

In [78]:
#Slice from index tuple to single label
df.loc[('cobra', 'mark i'):'viper']

                     max_speed  shield
cobra      mark i           12       2
           mark ii           0       4
sidewinder mark i           10      20
           mark ii           1       4
viper      mark ii           7       1
           mark iii         16      36

In [79]:
#Slice from index tuple to index tuple
df.loc[('cobra', 'mark i'):('viper', 'mark ii')]

                    max_speed  shield
cobra      mark i          12       2
           mark ii          0       4
sidewinder mark i          10      20
           mark ii          1       4
viper      mark ii          7       1

                        ##Semoga Bermanfaat
                        ##@Raspiani_