## Pandas - Cara Menggabungkan Multiple Baris

    Berikut ini adalah cara untuk menggabungkan multiple baris menjadi satu baris menggunakan modul pandas.

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("H:/Book1.xlsx")
df

   Value  tempx
0      1   ayah
1      1    ibu
2      1   bibi
3      1  paman
4      1    dia

In [3]:
df1 = df.groupby('Value')['tempx'].apply(' '.join).reset_index()
df1

   Value                    tempx
0      1  ayah ibu bibi paman dia

                        ##Semoga Bermanfaat
                        ##@Raspiani_